.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: fit-content(294px) 24px;
  grid-template-areas:
    'user-name edit-profile-button'
    'description description';
  gap: 9px 19px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

@media screen and (max-width: 601px) {
  .profile__info {
    max-width: 282px;
    grid-template-columns: calc(100% - 2 * (18px + 10px)) 18px;
    margin-right: 0;
    margin-bottom: 31px;
    text-align: center;
    justify-items: center;
    column-gap: 10px;
  }
}
